version: "3.8"
services:
  orion-rates:
    build:
      context: ./orion-rates
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - API_KEY=A7k9bT3vQf6ZsR2pL8m4HyQ2

  altair-exchange:
    build:
      context: ./altair-exchange
      dockerfile: Dockerfile
    ports:
      - "5600:3000"
    environment:
      - NODE_ENV=production
      - API_KEY=A7k9bT3vQf6ZsR2pL8m4HyQ2

  # exchange-gateway:
  #   build:
  #     context: ./ExchangeGateway
  #     dockerfile: Dockerfile
  #   ports:
  #     - "5500:80"
  #   environment:
  #     - ASPNETCORE_ENVIRONMENT=Production

  mercuriofx:
    build:
      context: ./mercuriofx
      dockerfile: src/main/docker/Dockerfile.jvm
    ports:
      - "4000:8080"
    environment:
      - NODE_ENV=production
      - API_KEY=MercurioFX2024Key
