version: "3.8"
services:
  orion-rates:
    build:
      context: ./orion-rates
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - API_KEY=A7k9bT3vQf6ZsR2pL8m4HyQ2
    networks:
      - exchange-net

  altair-exchange:
    build:
      context: ./altair-exchange
      dockerfile: Dockerfile
    ports:
      - "5600:3000"
    environment:
      - NODE_ENV=production
      - API_KEY=rtv6A7k9bT3vQf6ZsR2pL8m4HyQ2
    networks:
      - exchange-net

  gateway-api:
    build:
      context: ./Gateway
      dockerfile: Gateway.Api/Dockerfile
    ports:
      - "5500:8080"
    environment:
      - Apikey=GatewayApiKey2024
      - ProviderSetting__AltairBaseUrl=http://altair-exchange:3000
      - ProviderSetting__OrionBaseUrl=http://orion-rates:3000
      - ProviderSetting__MercurioBaseUrl=http://mercuriofx:8080
      - ProviderSetting__AltairApiKey=rtv6A7k9bT3vQf6ZsR2pL8m4HyQ2
      - ProviderSetting__OrionApiKey=A7k9bT3vQf6ZsR2pL8m4HyQ2
      - ProviderSetting__MercurioApiKey=MercurioFX2024Key
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - exchange-net

  mercuriofx:
    build:
      context: ./mercuriofx
      dockerfile: src/main/docker/Dockerfile.jvm
    ports:
      - "4000:8080"
    environment:
      - NODE_ENV=production
      - API_KEY=MercurioFX2024Key
    networks:
      - exchange-net

networks:
  exchange-net:
